#head{
    font-family: cursive;
}


#butt1, #butt2, #butt3, #butt4{
    margin: 10px;
}
#input{
    margin:10px
}


#image-box{
    border: 2px solid;
    margin: 10px;
    /* display: flex;
    flex-flow: row wrap; */
    overflow: hidden;
}

.img:hover{
   transform: scale(1.2);
}

.img{
    margin: 10px;
    height: 100px;
    width: 100px;
    transition: transform 0.3s ease-out;
}